* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Poppins";
    src: url(./fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(./fonts/Poppins-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(./fonts/Poppins-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

:root {
    --primary: #36C2CE;
}

body, button {
    font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 18% 82%;
    height: 100vh;
}

button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.sidebar {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    padding: 2rem 1.4rem;

    button {
        display: block;
        padding: 0.3rem 0;
    }

    .task-button, .project-button {
        display: flex;
        align-items: center;
        gap: 0.4rem;
    }

    .add-icon {
        height: 28px;
        background-color: var(--primary);
        padding: 0.3rem;
        border-radius: 50%;
    }

    h3 {
        font-weight: 500;
        margin-top: 1rem;
    }

    .show-inbox {
        margin-top: 1rem;
    }

    #projects-content  {
        .button-wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 0.6rem;

            button:nth-child(2) {
                width: 20px;
                height: 20px;
            }
        }
    }
}

form {
    display: none;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 0.8rem;
    background-color: white;
    padding: 2rem 1.6rem;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    z-index: -1;
    min-width: 30%;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1.2rem;
}

.cancel, .add {
    padding: 0.6rem 1rem;
    background-color: var(--primary);
    border-radius: 0.6rem;
    width: 100%;
}

.cancel {
    background-color: lightgrey;
}

.add-todo, .update-todo {
    .input-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 0.6rem;
    }

    input, select {
        font-size: 1rem;
        padding: 0.6rem 0.8rem;
        border-radius: 0.4rem;
        border: 1px solid black;
        width: 100%;
        margin: 0.4rem 0 1rem 0;
    }
}

.add-project {
    input {
        font-size: 1rem;
        padding: 0.6rem 0.8rem;
        border-radius: 0.4rem;
        border: 1px solid black;
        width: 100%;
        margin: 0.4rem 0 1rem 0;
    }
}

#content {
    padding: 4rem 20%;

    h1 {
        margin-bottom: 1.4rem;
    }

    .todo-card {
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        padding: 2rem 1.6rem;
        border-radius: 0.8rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 1.6rem;

        .notes-heading {
            margin-top: 0.6rem;
        }

        .wrapper {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;
            align-items: center;

            img {
                width: 40px;
                height: 40px;
                padding: 0.4rem;
                border-radius: 0.3rem;
                background-color: lightgrey;
            }
        }

        .priority-wrapper {
            display: flex;
            gap: 0.4rem;
            align-items: center;
        }

        .todo-buttons {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            margin-top: 1.4rem;

            .button-delete {
                background: var(--primary);
                padding: 0.6rem 1rem;
                border-radius: 0.6rem;
                font-weight: 500;
                width: 100%;
            }

            .button-update {
                background-color: lightgrey;
                padding: 0.6rem 1rem;
                border-radius: 0.6rem;
                font-weight: 500;
                width: 100%;
            }
        }
    }
}